php53
php54
php55
php56
php70
php71
php72
phpmaster
php
!lib/php
!bin/php
rmtools-client
rmtools.base
logs
PFTT
\.tmp
\.cache
oracle
# either these two become submodules, or uncomment them
#pgo-build
#rmtools*
phpsdk-local.bat
pgo/work
!pgo/tpl/php
!lib/php/libsdk/SDK/Build/PGO/Server/PHP
*.swp

phpdev/vc15/x64/deps/
phpdev/vc15/x64/php-src/
phpdev/vc15/x64/deps.*/
phpdev/vc15/x64/*.7z
phpdev/vc15/x64/*.zip
phpdev/vc15/x64/*.tar
phpdev/vc15/x64/.idea/
phpdev/vc15/x64/*.exe
phpdev/vc15/x64/.vscode/
phpdev/vc15/x64/9ccgo/

phpdev/vc15/x64/php-8.0-src/
phpdev/vc15/x64/

phpdev/vc15/x64/
phpdev/vc15.zip
phpdev/vs16.zip

phpdev/*.tmp

phpdev/vs16/x64/php-src/
phpdev/vs16/x64/deps/
*.pyc
phpdev/vs16/x64/.idea/
phpdev/*.zip
phpdev/*.xz
phpdev/*.7z
phpdev/vs16/x64/php8_all.lib
/phpdev/php-8.4.19
/phpdev/php-8.5.4-Win32-vs17-x64
/phpdev/php-8.5.4
/phpdev/vs17/x64/php-src
